/*--------------------------------------------------------------*/

/* Responsive Resets
-------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	@include box-sizing( border-box );}

@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img,
audio,
video,
canvas {
  max-width: 100%;
}

img {
	display: block;}